@import "./base/variables";
@import "./base/fonts";
@import "./base/zeroing";
@import "./base/mixins";
@import "./base/burger";

@import "./blocks/header";
@import "./blocks/footer";
@import "./blocks/hero";
@import "./blocks/sport-car";

._container {
  max-width: $width + 20%;
  margin: 0 auto;
  padding: 0px 10%;
  @media (max-width: 992px){
      max-width: $width + 30px;
      margin: 0 auto;
      padding: 0px 15px;
  }
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}
body.lock{
  overflow: hidden;
}

@import "./base/media";
