.header {
    min-height: 100vh;
    &__content {
        display: grid;
        grid-template-columns: 10% 1fr 1fr 10%;
        min-height: 10vh;
        align-items: center;
    }

    &__logo {
        grid-column: 2/3;
        font-size: 30px;
        color: $white;
    }
    .nav{
        
    }
    .nav{
        justify-self: end;
    }
}

